/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding-block-start: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--page-main-font-family, sans-serif);
  color: var(--text-color, #000);
  background-color: var(--background-color, #fff);
  background-image: var(--page-background-image, none);
  background-size: cover; /* Чтобы такой фон из градиентов заливал всё пространство страницы, присвойте ему размер cover*/
  background-attachment: fixed;
  font-variation-settings: "wght" var(--page-main-font-weight, 400);
}

/* HEADER */

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--page-accent-font-family, monospace);
  text-transform: uppercase;
  line-height: normal;
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color, #000);
  background: var(--background-color, #fff);
  max-inline-size: 696px;
}

.page__header {
  margin-block-end: 100px;
}

.page__suptitle {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* min fs 49 max 65*/
}

.span__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem); /* min fs 120 max 136*/
  margin-block-end: 20px;
}

.page__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* min fs 14 max 23*/
}

/* MENU BUTTON */

.header__theme-menu {
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity .3s ease;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  opacity: .6;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: .6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform .3s ease;
  transform-origin: left;
  transform: scaleX(0);
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow .5s ease-in-out infinite alternate; /* анимацию на псевдоэлементе длительностью 0.5 секунды с функцией времени ease-in-out */
  inset-inline-start: -19px;
}

/* MAIN */

.main {
  display: grid;
  gap: 57px;
  justify-items: center;
  padding-block-end: 100px;
}

.card-list {
  display: grid;
  gap: 50px;
}

.cards {
  margin-inline: auto;
  border: 2px solid var(--text-color, #000);
  background: var(--background-color, #fff);
  max-inline-size: 696px;
}

.card__header {
  padding: 4px 10px 6px;
  border-block-end: 2px solid var(--text-color, #000);
}

.card__hadow {
  position: relative;
  overflow: hidden;
}

.card__subtitle {
  font-variation-settings: "wght" var(--subtitle-font-weight, 700);
  font-size: 18px;
  line-height: normal;
}

.card__html {
  position: absolute;
  z-index: 1;
  mix-blend-mode: hard-light;
  color: var(--text-color, #000);
  font-family: var(--page-accent-font-family, monospace);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 0 0 2px var(--background-color, #fff);
  inset-inline-end: 13px;
  inset-block-start: 25px;
  opacity: 0.5;
}

.card__car__img {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
}

.card__text {
  display: grid;
  gap: 27px;
  line-height: normal;
  padding: 25px 25px 0 25px;
  font-size: 18px;
  border-block-start: 2px solid var(--text-color, #000);
}

/* ARTICLE BUTTON */

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 12.5px 37px;
  font-family: var(--page-accent-font-family, monospace);
  border: 2px solid var(--text-color, #000);
  font-size: 14px;
  transition: box-shadow .3 ease;
  background: var(--background-color, #fff);
}

.button::first-letter {
  text-transform: uppercase;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000);
}

.button:focus {
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: scaleX(0);
  background: var(--text-color, #000);
  transition: transform .5s ease-in-out;
  transform-origin: left;
  inset: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.card-footer {
  display: flex;
  padding: 25px;
  gap: 6px;
  justify-content: end;
}

.card__icon-button { /* для кнопки, оборачивающей иконку */
  display: grid;
  cursor: pointer;
  border: 2px solid transparent;
  background: transparent;
  transition: border-color .3 ease;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000);
}

.button__memory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  padding: 15px 20px;
  width: fit-content;
}

.button__text,
.button__memory-icon {
  color: var(--but-txt-clr, #fff);
  mix-blend-mode: difference;
}

.like-icon {
  width: 36px;
  height: 39px;
} 

.button__memory-icon {
  width: 21px;
  height: 21px;
}

/* TYPE IMG */

.img__type-grayscale {
  filter: grayscale(70%);
}

.img__type-saturate {
  filter: saturate(250%);
}

.img__type-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.img__type-invert {
  filter: invert(100%);
}

.img__type-sepia {
  filter: sepia(90%);
}

.img__type-blur {
  filter: blur(10px);
}

.img__type-rotate {
  filter: hue-rotate(210deg);
}

/* DIALOG */

.dialog {
  border: 2px solid var(--text-color, #000);
  color: var(--text-color, #000);
  font-family: var(--page-accent-font-family, monospace);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #fff);
  max-inline-size: 355px;
  padding: 25px 30px;
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

.dialog::backdrop {
  background: #000;
  opacity: .75;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog-icon {
  width: 91.44px;
  height: 39px;
}

.form__button {
  width: 100%;
}


/* SUPPORTS */

@supports (
(-webkit-text-stroke: 1px var(--background-color, #fff))
  
) and (
  mix-blend-mode: hard-light
) {
.card__html {
  -webkit-text-stroke: 1px var(--background-color, #fff);
  text-shadow: none;
  mix-blend-mode: hard-light;
  } 
}

/* MEDIA */

@media (width < 376px) {

.dialog {
  max-inline-size: 341px;
  padding: 30px 34px 30px 40px;
}

.dialog-icon {
  width: 97.24px;
  height: 39px;
}

.button__memory-icon {
  width: 28px;
  height: 28px;
}

.button__memory {
  flex-direction: column;
}
}

