/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
   /* LIKE */
   --like-contur-col: var(--text-color, #000);
   --like-main-col: none;
   --like-sparks-col: #ff0000;
   /* COLOR */
   --color-black: #000;
   --color-white: #fff;
   --color-green: #00cc14;
   /* PAGE */
   --text-color: var(--color-black, #000);
   --background-color: var(--color-white, #fff);
   --background-button: var(--color-white, #fff);
   --but-txt-clr: var(--background-button, #fff);
   --page-main-font-family: "Inter", sans-serif;
   --page-main-font-weight: 400;
   --subtitle-font-weight: 700;
   --page-accent-font-family: "PressStart2P", monospace;
   /* GRADIENT */
   --page-background-image: 
      repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
   }
